/* Leaflet CSS - must be first */
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

body {
  background-color: rgb(9, 9, 11);
  color: rgb(244, 244, 245);
}
